.content {
  margin-top: 100px;
}

#dashboard-heading {
  font-size: 50px;
  margin-left: 20px;
}

/* Team Section CSS */

.team-section {
  background-color: #202020;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.team-section h2 {
  font-size: 32px;
  margin-bottom: 50px;
  color: #FFD100;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  max-width: 660px;
  margin: 0 auto;
}

.team-member {
  flex: 0 0 calc(33.3333% - 20px);
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.team-member:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay span {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}

.team-member:hover .overlay {
  opacity: 1;
}










/* ===================================== */
/* STAFF PENDING REQUESTS */
/* ===================================== */

.requests-content {
  margin-top: 100px;
  margin-left: 20px;
}

.frequest-div {
  background-color: #333533;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out;
  height: auto;
  justify-content: space-between;
}


.request-title {
  margin: 0;
  font-size: 25px;
  color: #D6D6D6;
}

.request-details {
  margin-top: 10px;
  padding: 10px;
  background-color: #333533;
  border-radius: 5px;
  color: #D6D6D6;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}

.accept-button,
.reject-button {
  border: none;
  cursor: pointer;
  margin-right: 10px;
}


/* ===================================== */
/* STAFF ACTIVE ORDERS */
/* ===================================== */

.orders-content {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

.order-details-content{
  margin-top: 100px;
  margin-bottom: 200px;
  width: 100%;
}

.order-details-content h1{
  margin-left: 150px;
  margin-top: 30px;
}

.order-content-active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin-right: 10px;
  margin-left: 20px;
}


.order-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin-right: 10px;
  margin-left: 150px;
}

.order-div {
  background-color: #333533;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  min-height: 100px;
  cursor: pointer;
}

.order-div:hover {
  box-shadow: 0 0 5px #FFD100;
}

.order-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  color: #d6d6d6;
}

.order-details {
  display: none;
}

.task-assignment {
  margin-top: 100px;
  margin-right: 150px;
  background-color: #202020;
  padding: 10px;
  border-radius: 5px;
  display: block;
  text-align: left;
  width: 40%;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  flex: 1;
}

/* Style the dropdown labels */
.task-assignment label {
  display: block;
  color: #d6d6d6;
  margin-bottom: 5px;
  text-align: left;
}

strong {
  color: #FFD100;
}

/* Style the dropdown menus */
.task-assignment select {
  width: 100%;
  padding: 5px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background-color: #333533;
  color: #d6d6d6;
  margin-bottom: 10px;
}


.task-assignment button {
  background-color: #FFD100;
  color: #333533;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.task-assignment button:hover {
  background-color: #FFC000;
}


/* ORDER DETAILS PAGE */

.order-details-content {
  flex: 1;
  width: 70%; 
  margin-left: 20px;
  margin-right: 20px;
}

.separation-line{
  width: 82%;
  margin-top: 260px;
  margin-left: 150px;
  height: 2px;
  border-width: 0;
  color: #FFD100;
  background-color: #FFD100;
}

.order-details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

    /* Complete Order form and button */
    /* Style for the Complete Order button */
.complete-order-form {
    margin-left: 620px;
    text-align: center;
    margin-top: -805px;
    width: 100%;
}

/* STAFF PROFILE PAGE */

.profile-content {
  margin-top: 200px; /* Increase the top margin to move the box further down */
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333533;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  top: 100px; /* Add this line to move the box down further */
}

.logout-button {
  text-align: center;
}

.staff-img{
  max-width: 200px; 
  max-height: 200px; 
  display: block; 
  margin: 0 auto 0 0;
  margin-bottom: 20px;
}